@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="17f652b3-a7c6-47b4-9dd0-7efd7fc0baa5" data-share-badge-host="https://www.credly.com"></div>
<head script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js">
</head>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
