@page "/"

<h1>Hello, Everyone, Welcome!!!</h1>

<div>
    <img src="/Images/MyProfilePicture.jpg" height="300" width="300" />
</div>
<h4><b><u>About Me:</u></b></h4>
<h2><em><strong>Bharath Yadav</strong></em></h2>
<p>
    Bachelor of Engineering in Computer Science<br />
    Full-Stack .NET Developer<br />
    Azure<br />
    IoT<br />
    9+ Years Experience in Software Development(Desktop & Web)<br />
    Currently working as a <b style="color:black">Senior Software Engineer</b> at <b style="color:red">Robert Bosch Engineering & Business Solutions PVT LTD.</b><br />
    Bangalore, Karnataka, India.<br />
</p>
<h5>
    <strong>Contact: </strong><br />
    @*<mark><em>Mobile: </em>+91-XXXXXXXXXX</mark><br />*@
    <mark><em>e-mail: </em>bharath.indira@gmail.com</mark>
</h5>
@*<a href="https://twitter.com/XXXXXX">Twitter</a>*@
<a href="https://www.linkedin.com/in/bharath-yadav-36204032/">LinkedIn Profile</a>








