@page "/"

<h1>Hello, Everyone(Anku, Sassu, Gaabri and Akash), Welcome!!!</h1>

<div>
    <img src="/Images/MyProfilePicture.jpg" height="300" width="300" />
</div>
<h4><b><u>About Me:</u></b></h4>
<h2><em><strong>Bharath Yadav</strong></em></h2>
<p>
    Full-Stack .NET Developer<br />
    Azure<br />
    IoT<br />
    9+ Years Experience in Software Development<br />
    Currently working for <b>Robert Bosch Engineering & Business Solutions PVT LTD.</b><br />
    <address>Bangalore, 
    Karnataka,
    India.</address>
</p>
<h3>
    <strong>Contact: </strong><br />
    <mark><em>Mobile: </em>+91-9742350553</mark><br />
    <mark><em>e-Mail: </em>bharath.indira@gmail.com</mark>
</h3>
<a href="https://twitter.com/iYadavTweets">Twitter Home Page</a>







