@page "/"

<h1>Hello, Bharath!</h1>

Welcome to your new app.

<SurveyPrompt Title="Blazor is Amazing!!!" />
<head script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js">
</head>

<body>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="17f652b3-a7c6-47b4-9dd0-7efd7fc0baa5" data-share-badge-host="https://www.credly.com"></div>
</body>